@import url('https://fonts.googleapis.com/css2? family= Black+Ops+One & family= Space+Grotesk & display=swap');

*{
    padding: 0;
    margin: 0;
 
    user-select: none;
}

body{
    background-image:url('https://i.pinimg.com/originals/a5/a3/b8/a5a3b8b05e8a1ea92813607761564299.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;    
    
}
.logo{
    max-width: 4rem;
}
header{
    background-color: black;
    color: white;
    padding: 1pc 1pc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 

nav  {
    font-family: 'Black Ops One', cursive;
    font-family: 'Space Grotesk', sans-serif;
    padding: 0 2pc;
    
}

ul{
    list-style: none;
   display: flex;
   gap: 1pc;
   cursor: pointer;
}

ul a{
    text-decoration: none;
    color: white;
}
.titulo span{
    color: yellow;
}

.abrir, .cerrar{
    display: none;
    
}
.section-1 { 
    height: 100vh;
    
}

.title{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30pc;
    padding: 3pc 0;
    
}

.title img{
    height: 23pc;
   
}

.text{
    font-family: 'Kanit', sans-serif;
    width: 30pc;
    padding: 0 11pc ;
    font-size: 25px;
}

.section-2{
    background: black;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.section-3, .section-4{
    background: black;
    height: 100vh;
 
}
.animation {
    
    display: flex;
    align-items: center;
    padding: 16pc 0 0 2pc;
   
   
}

.animation img{
    height: 23pc;
   
}

.text-2{
    font-family: 'Kanit', sans-serif;
    width: 40pc;
    font-size: 25px;
    color: white;
    padding: 0 0 5pc 0;
    
}

.container-slider{
    padding: 3pc;
    width: 90%;
    overflow-x: scroll;
}
.container-slider,
.slider {
  overflow: auto;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider{
    display: flex;
    gap: 1.5pc;
}
.slider img{
    height: 15pc;
   transition: transform .2s;
}

.slider img:hover{
   transform: scale(1.1);
   
}

.text-3{
    font-family: 'Kanit', sans-serif;
    color: white;
    padding: 2pc 9pc;
    font-size: 20px;
}

.section-4 video{
    padding: 2pc 20pc;
    
}

@media screen and (max-width:500px){
    body{
        background-image:url('./99850dbce0a174c815e3cf0060197396\ \(1\)\ \(1\).jpg');
        background-size: 100vw;
       
       
    }
    .abrir{
        display: block;
        background-color: transparent;
        border: none;
    }
    
    .cerrar{
        display: block;
  
        background-color: transparent;
        border: none;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
         background-color: black;
        padding: 2rem;
        bottom: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    ul{
        flex-direction: column;
        align-items: end;
       
    }
    .title{
        display: flex;
        align-items: center;
        margin-left: 10pc;
        
    }
    
    .title img{
        height: 15pc;
    }
    
    .text{
    font-family: 'Kanit', sans-serif;
    width: 18pc;
    font-size: 20px;
    padding: 3pc 0 0 30px;
    color: white;
    }
    .section-1{
       height: 87vh;
    }
    .section-2, .section-3, .section-4{
    background: black;
    height: 100vH;
    }
    
    .animation{
    display: flex;
    flex-direction: column;
    padding: 7pc 0 0 0;
    
    }
    
    .animation img{
        height: 13pc;
        content: url('./GTA-Characters-PNG-Clipart.png');
    }
    
    .text-2{
    font-family: 'Kanit', sans-serif;
    width: 18pc;
    font-size: 18px;
    color: white;
    padding: 20px 0 0 0;
   }
   
   .container-slider{
        padding: 2pc 0;
   }
   .slider img{
    width: 75%;
   }
   .text-3{
    padding: 6pc 2pc;
    font-size: 15px;
    
   }

   .section-4 video{
    width: 80%;
    display: flex;
    padding: 17pc 0 0 2pc;
   }
}
